.navbar {
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: #111827;
    color: #FFFFFF;
}

.nav-links {
    display: flex;
    gap: 2rem
}

.vertical-center {
    display: flex;
    align-items: center;
}