.container {
    background-color: #1F2937;
    color: #FFFFFF;
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
}

.author-text {
    color: #9CA3EF;
}

.container > p {
    font-size: 30px;
    font-weight: 500;
}